.Pokedex {
  text-align: center;
}

.Pokedex:h1 {
  display: flex;
}

.Pokedex-cards {
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
}

.Pokedex-winner {
  color: green;
}

.Pokedex-loser {
  color: red;
}
